a {
    color: black;
}

.row {
    margin-bottom: 5%;
}

img {
    max-height: 250px;
}
.platform {
   border-bottom: 1px solid black;
}

.title {
    margin-top: 4%;
    border-bottom: 1px solid black;
    text-align: center;
}

article {
border: 1px solid black; 
margin: 2%;
margin-top: 3%;
border-radius: 7px;
}

.id {
    border-bottom: 1px solid black;
}

input {
    border: 1px solid black;
    border-radius: 7px;
    margin-left: 2px;
    margin-right: 2px;
}

.btn {
    margin-left: 3%;
}

form {
    margin-top: 3%;
}

#form {
   padding: 1%;

   
}

.pagetitle {
    margin-top: 3%;
}